<div class="card">
  <div class="card-header">
    <h1 class="card-header-title center">Typing Challenge</h1>
  </div>
  <div class="card-content">
    <div class="mb-2">
      <span *ngFor="let letter of wordsToType.letters.split(''); let i = index">
        <span
          [ngStyle]="{
            color:
              wordsToType.result[i] == 1
                ? 'green'
                : wordsToType.result[i] == 0
                ? 'red'
                : ''
          }"
        >
          {{ letter == " " ? "&nbsp;" : letter }}
        </span>
      </span>
    </div>

    <input
      class="input is-rounded mb-3"
      (input)="handleInputChange($event.target.value)"
      [value]="typedWords"
      [disable]="wordsToType.letters.length === 0"
      placeholder="start typing"
    />

    <button class="button is-primary is-rounded" (click)="getWords()">
      Generate Words
    </button>

    <footer class="card-footer">
      <h5 style="text-align: center">{{ winStatus }}</h5>
    </footer>
  </div>
</div>
